.hidden {
    display: none;
}
header a {
    text-decoration: none;
}
header div.w3-quarter {
    margin-top: 12px;
}
div#summary a {
    text-decoration: none;
    border-bottom: 2px dotted #FFFFFF;
}
div#summary a:hover {
    color: #000000;
    border-bottom-color: #000000;
}
table th:first-child {
    width: 50%;
}
#table_missing th:first-child {
    width: 40%;
}
#table_missing th:nth-child(2) {
    width: 20%;
}
#table_incomplete th:first-child {
    width: 35%;
}
#table_incomplete th:nth-child(2){
    width: 20%;
}
@media (max-width: 1205px) {
    table th:first-child {
        width: 40%;
    }
    #table_incomplete th:nth-child(2){
        width: 15%;
    }    
}
