.hidden {
    display: none;
}
header a {
    text-decoration: none;
}
header div.w3-quarter {
    margin-top: 12px;
}
table th:first-child {
    width: 50%;
}
@media (max-width: 1205px) {
    table th:first-child {
        width: 40%;
    }
}
